<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/general/headimport.html}"></head> 

<body class="g-sidenav-show   bg-gray-100">

  

  <div class="min-height-300 bg-dark position-absolute w-100"></div>
    <th:block th:replace="~{/general/aside.html}"></th:block> 

    <main class="main-content position-relative border-radius-lg ">
      <!-- Navbar -->
      <th:block th:replace="~{/general/navbar.html}"></th:block>
      <!-- End Navbar -->

      <div class="container-fluid ">
        <div class="row">
            <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                <h6>Employee table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employee</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                        <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="emp : ${list}">
                            <td>
                                <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-xs" th:text="${emp.employee_name}">Employee Name</h6>
                                        <p class="text-xs text-secondary mb-0" th:text="${emp.name}">emp_code</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0" th:text="${emp.designation}">Designation</p>
                                <p class="text-xs text-secondary mb-0" th:text="${emp.department}">Department</p> 
                            </td>
                            <td class="align-middle text-center text-sm">
                                <span class="text-secondary text-xs font-weight-bold" th:text="${emp.status}">Status</span>
                            </td>
                                <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold" th:text="${emp.date_of_joining}">Date</span>
                                </td>
                            <td class="align-middle">
                                <a th:href="@{/employee/more(name=${emp.name})}" class="btn btn-primary btn-sm text-xs">Details</a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </main>

    <th:block th:replace="~{/general/fixed-plugin.html}"></th:block>
    
<th:block th:replace="~{/general/footer.html}"></th:block>
